NODE_ENV= # Environment (development, production, etc.)
PORT=

# CORS Configuration (',' separated list of allowed origins no spaces)
ALLOWED_ORIGINS=""

# PostgreSQL --Connection
DATABASE_URL=""

# Redis --Connection
REDIS_HOST=
REDIS_PORT=

# JWT
JWT_ACCESS_SECRET=replace-with-a-long-random-secret-64
JWT_REFRESH_SECRET=replace-with-a-different-long-random-secret-64